@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #efebeb;
}

.container {
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 40rem;
  margin: 6rem auto;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  padding: 3.2rem;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.3rem;
}

.form input,
.form select {
  padding: 1rem 0.6rem;
  font-size: 1.6rem;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  color: #666;
  font-weight: 300;
  background-color: #f0f0f0;
  cursor: pointer;

  animation: open 1.2s ease-in;
}

.form .input-amount {
  cursor: default;
}

*:focus {
  outline: 2px solid #0164d6;
}

.time {
  font-size: 1.8rem;
  font-weight: 300;
  margin-left: auto;
  color: #1adb9f;
  margin-bottom: -4rem;

  animation: moveInDown 1.2s ease-in-out;
}

.hour {
  display: flex;
  margin-left: auto;
  width: fit-content;
}

.heading-primary {
  max-width: 20rem;
  color: #0164d6;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1.2rem;
  animation: moveInLeft 1.2s ease-in-out;
}

.label {
  font-size: 2rem;
  font-weight: 300;
  color: #333;
  perspective: 800px;

  animation: rotate 1.2s ease-in-out;
}

.warning-wrapper {
  box-shadow: inset 0 0 2px 1px red;
}

.result-box {
  background-color: #00d998;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 6rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 9px;
  text-align: center;
  opacity: 1;
}

.off {
  background-color: #888;
}

.blue-wrapper {
  background-color: #0164d6;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.2rem 0.5rem;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: skew(10deg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

  animation: blurIn 0.1s ease-in-out;
}

@keyframes blurIn {
  0% {
    opacity: 0.3;
    transform: scale(0.98);
    filter: brightness(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1);
  }
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotateX(180deg);
  }

  70% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: rotateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-50rem);
    opacity: 0;
  }

  70% {
    transform: translateX(3rem);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInDown {
  0% {
    transform: translateY(-50rem);
    opacity: 0;
  }

  70% {
    transform: translateY(3rem);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .container {
    margin: 0 auto;
    border-radius: 0;
    height: 100vh;
    box-shadow: none;
  }

  .form {
    margin-top: 2rem;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .time {
    font-size: 2rem;
  }

  .form input,
  .form select {
    padding: 1.6rem 1rem;
    font-size: 1.8rem;
  }

  .label {
    font-size: 2.2rem;
  }

  .result-box {
    margin-top: 2rem;
    height: 8rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;

    animation: blurIn 0.15s ease-in;
  }

  @keyframes moveInLeft {
    0% {
      transform: translateX(-50rem);
      opacity: 0;
    }

    70% {
      transform: translateX(1.8rem);
      opacity: 0.5;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes moveInDown {
    0% {
      transform: translateY(-50rem);
      opacity: 0;
    }

    70% {
      transform: translateY(1.8rem);
      opacity: 0.5;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
